force-app/main/default/flows/Dynamic_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Claim_Variable</name>
        <label>Assign Claim Variable</label>
        <locationX>819</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Approved_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Approved_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Claim_Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateClaim_Agency.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Policy_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Policy_Holder.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Total_Claimed_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Total_Claimed_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Claim_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claim_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Claim_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claim_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimSelectedRecords.Claim_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claim_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Claimants</name>
        <label>Assign Updated Claimants</label>
        <locationX>917</locationX>
        <locationY>2525</locationY>
        <assignmentItems>
            <assignToReference>var_StoreClaimant.Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateClaim.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StoreClaimant.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claimant_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StoreClaimant.Claimant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claimant_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StoreClaimant.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StoreClaimant.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_StoreClaimant.Claimed_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claimed_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claimants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Var_Claim_Agency</name>
        <label>Assign Var Claim Agency</label>
        <locationX>3326</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>StoreClaimAgency.Agency_Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateAgency_Contact_Person.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreClaimAgency.Agency_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Agency_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreClaimAgency.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreClaimAgency.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreClaimAgency.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Claim_Agency_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claim_Agency_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Var_Payment</name>
        <label>Assign Var Payment</label>
        <locationX>1879</locationX>
        <locationY>2396</locationY>
        <assignmentItems>
            <assignToReference>storePayment.Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Claim.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storePayment.Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Payment_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storePayment.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storePayment.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Payment_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storePayment.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClaimAgencyRecord</name>
        <choiceText>Claim Agency Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VclaimAgency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Claimantrecord</name>
        <choiceText>Claimant Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vclaimant_reccord</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateClaim</name>
        <choiceText>Create Claim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create_claim</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateClaimAgencyChoice</name>
        <choiceText>Create</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateClaimAgencyValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateClaimantChoice</name>
        <choiceText>Create</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateClaimantValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreatePaymentChoice</name>
        <choiceText>Create</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreatePaymentValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteClaimAgencyChoice</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DeleteClaimAgencyValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteClaimantChoice</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DeleteClaimantValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeletePaymentChoice</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DeletePaymentValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditClaim</name>
        <choiceText>Edit Claim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>edit_claim</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditClaimAgecyChoice</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EditClaimAgecyValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditClaimantChoice</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>editClaimantValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditClaimRecord</name>
        <choiceText>Edit Claim Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vedit_Claim_record</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditPaymentChoice</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EditPaymentValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentRecord</name>
        <choiceText>Payment Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VpayamentRecord</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Claim_Decision</name>
        <label>Claim Decision</label>
        <locationX>815</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Claim_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_option_to_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateClaim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateClaimScreen</targetReference>
            </connector>
            <label>Is Claim Created</label>
        </rules>
        <rules>
            <name>Is_Claim_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_option_to_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditClaim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Record</targetReference>
            </connector>
            <label>Is Claim Edit</label>
        </rules>
        <rules>
            <name>Is_Claim_Agency_Rec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_option_to_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClaimAgencyRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Agency_Screen</targetReference>
            </connector>
            <label>Is Claim Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrudClaimAgency</name>
        <label>CrudClaimAgency</label>
        <locationX>3075</locationX>
        <locationY>1326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_Claim_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option_ClaimAgency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditClaimAgecyChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Agency</targetReference>
            </connector>
            <label>Is Edit Claim Agency</label>
        </rules>
        <rules>
            <name>Is_Create_Claim_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option_ClaimAgency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateClaimAgencyChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Claim_Agency</targetReference>
            </connector>
            <label>Is Create Claim Agency</label>
        </rules>
        <rules>
            <name>Is_Delete_Claim_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option_ClaimAgency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteClaimAgencyChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Agency_to_Delete</targetReference>
            </connector>
            <label>Is Delete Claim Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrudClaimants</name>
        <label>CrudClaimants</label>
        <locationX>885</locationX>
        <locationY>1894</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_OptiontoProceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditClaimantChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claimant</targetReference>
            </connector>
            <label>Is Edit Claimant</label>
        </rules>
        <rules>
            <name>Is_Create_Claimants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_OptiontoProceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateClaimantChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Claimant</targetReference>
            </connector>
            <label>Is Create Claimants</label>
        </rules>
        <rules>
            <name>Is_Delete_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_OptiontoProceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteClaimantChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claimant_Record_to_Delete</targetReference>
            </connector>
            <label>Is Delete Claimant</label>
        </rules>
    </decisions>
    <decisions>
        <name>CrudPayment</name>
        <label>CrudPayment</label>
        <locationX>1723</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditPaymentChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Record_to_Edit</targetReference>
            </connector>
            <label>Is Edit Payment</label>
        </rules>
        <rules>
            <name>Is_Create_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreatePaymentChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment</targetReference>
            </connector>
            <label>Is Create Payment</label>
        </rules>
        <rules>
            <name>is_Delete_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeletePaymentChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Record_to_Delete</targetReference>
            </connector>
            <label>is Delete Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Edit_More_Claim</name>
        <label>Decision Edit More Claim</label>
        <locationX>557</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>Edit_Claim_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_More_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_to_Edit_More_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Claims</targetReference>
            </connector>
            <label>Is Edit More Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_More_Claimants</name>
        <label>Decision More Claimants</label>
        <locationX>405</locationX>
        <locationY>2295</locationY>
        <defaultConnector>
            <targetReference>Claimant_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_More_Claimants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_More_Claimants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Claimant</targetReference>
            </connector>
            <label>Is More Claimants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Create_Claim_Screen</name>
        <label>Decision to Add More Claim Screen</label>
        <locationX>174</locationX>
        <locationY>1304</locationY>
        <defaultConnector>
            <targetReference>Create_Claim_Screen_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Add_More_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_to_add_more_claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateClaimScreen</targetReference>
            </connector>
            <label>Is Add More Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Create_More_Payment</name>
        <label>Decision To Create More Payment</label>
        <locationX>2711</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>Create_ClaimAgnecy_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_create_claim_agnecy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_More_Claim_Agnecy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Claim_Agency</targetReference>
            </connector>
            <label>Is create claim agnecy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Create_More_Payments</name>
        <label>Decision To Create More Payments</label>
        <locationX>1425</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Create_Payment_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create_More_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_More_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment</targetReference>
            </connector>
            <label>Is Create More Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Edit_More_Claim_Agency</name>
        <label>Decision To Edit More Claim Agency</label>
        <locationX>3143</locationX>
        <locationY>2701</locationY>
        <defaultConnector>
            <targetReference>Claim_Agency_Edit_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_Claim_Agnecy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_to_Edit_More_Claim_Agency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Agency_Edit_Screen</targetReference>
            </connector>
            <label>Is Edit Claim Agnecy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Edit_More_Claimants</name>
        <label>Decision To Edit More Claimants</label>
        <locationX>779</locationX>
        <locationY>2869</locationY>
        <defaultConnector>
            <targetReference>Edit_Claimant_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_More_Claimants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_To_edit_More_Claimants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claimants_Record</targetReference>
            </connector>
            <label>Is Edit More Claimants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Edit_More_Payment</name>
        <label>Decision To Edit More Payment</label>
        <locationX>1757</locationX>
        <locationY>2712</locationY>
        <defaultConnector>
            <targetReference>Edit_Payment_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Edit_More_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_To_Edit_More_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Screen_to_Edit</targetReference>
            </connector>
            <label>Is Edit More Payments</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectObject</name>
        <label>SelectObject</label>
        <locationX>978</locationX>
        <locationY>1239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Claim_Edit_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditClaimRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Claim_Screen</targetReference>
            </connector>
            <label>Is Claim Edit Record</label>
        </rules>
        <rules>
            <name>Is_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claimantrecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claimant_Screen</targetReference>
            </connector>
            <label>Is Claimant</label>
        </rules>
        <rules>
            <name>Is_Claim_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClaimAgencyRecord</elementReference>
                </rightValue>
            </conditions>
            <label>Is Claim Agency</label>
        </rules>
        <rules>
            <name>Is_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentScreen</targetReference>
            </connector>
            <label>Is Payment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AgencyTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agency_Type__c</picklistField>
        <picklistObject>Claim_Agency__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClaimantType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Claimant_Type__c</picklistField>
        <picklistObject>Claimant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClaimStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Claim_Status__c</picklistField>
        <picklistObject>Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClaimTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Claim_Type__c</picklistField>
        <picklistObject>Claim__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Status__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship__c</picklistField>
        <picklistObject>Claimant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Dynamic Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamic Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Claim_Agency_Record</name>
        <label>Create Claim Agency Record</label>
        <locationX>2859</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Decision_To_Create_More_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Contact_Person__c</field>
            <value>
                <elementReference>Agency_Contact_Person.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Type__c</field>
            <value>
                <elementReference>Agency_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.placeholder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Claim_Agency_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.placeholder</elementReference>
            </value>
        </inputAssignments>
        <object>Claim_Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Claim_Record</name>
        <label>Create Claim Record</label>
        <locationX>363</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Decision_to_Create_Claim_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_Amount__c</field>
            <value>
                <elementReference>Approved_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Agency__c</field>
            <value>
                <elementReference>Claim_Agency.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Date__c</field>
            <value>
                <elementReference>Claim_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Status__c</field>
            <value>
                <elementReference>Claim_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Type__c</field>
            <value>
                <elementReference>claim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <elementReference>Policy_Holder.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Claimed_Amount__c</field>
            <value>
                <elementReference>Total_Claimed_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ClaimantRecord</name>
        <label>Create Claimant</label>
        <locationX>572</locationX>
        <locationY>2161</locationY>
        <connector>
            <targetReference>Decision_More_Claimants</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>SelectClaim.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claimant_Type__c</field>
            <value>
                <elementReference>Claimant_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claimed_Amount__c</field>
            <value>
                <elementReference>Claimed_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>SelectContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Claimant_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </inputAssignments>
        <object>Claimant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>1575</locationX>
        <locationY>1888</locationY>
        <connector>
            <targetReference>Decision_To_Create_More_Payments</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>CreateClaimforPayment.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>Payment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <elementReference>Payment_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Claim_Agency_Record</name>
        <label>Delete Claim Agency Record</label>
        <locationX>3550</locationX>
        <locationY>2298</locationY>
        <connector>
            <targetReference>Delete_Claim_Agency_End_Screen</targetReference>
        </connector>
        <inputReference>StoreClaimAgnecyToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Claimants</name>
        <label>Delete Claimants</label>
        <locationX>1198</locationX>
        <locationY>2548</locationY>
        <connector>
            <targetReference>Display_claimants_Delete_End_Screen</targetReference>
        </connector>
        <inputReference>Var_to_Delete_Claimant</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Payment_Record</name>
        <label>Delete Payment Record</label>
        <locationX>2114</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Display_Delete_Payments_Suncreen</targetReference>
        </connector>
        <inputReference>StorePaymentsCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Claim_Agency</name>
        <label>Get Claim Agency</label>
        <locationX>3089</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claim_Agency_Edit_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Agency_to_Delete</name>
        <label>Get Claim Agency to Delete</label>
        <locationX>3546</locationX>
        <locationY>1826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_To_delete_Claim_Agency</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Record</name>
        <label>Get Claim Record</label>
        <locationX>867</locationX>
        <locationY>790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claim_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimant</name>
        <label>Get Claimant</label>
        <locationX>780</locationX>
        <locationY>2103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claimants_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimSelectedRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claimant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimant_Record_to_Delete</name>
        <label>Get Claimant Record to Delete</label>
        <locationX>1111</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_for_delete_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimSelectedRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claimant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record_to_Delete</name>
        <label>Get Payment Record to Delete</label>
        <locationX>2114</locationX>
        <locationY>1896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Screen_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimSelectedRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record_to_Edit</name>
        <label>Get Payment Record to Edit</label>
        <locationX>1743</locationX>
        <locationY>1902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Screen_to_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimSelectedRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claim</name>
        <label>Update Claim</label>
        <locationX>718</locationX>
        <locationY>1580</locationY>
        <connector>
            <targetReference>Decision_Edit_More_Claim</targetReference>
        </connector>
        <inputReference>claimSelectedRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Claim_Agency_Record</name>
        <label>Update Claim Agency Record</label>
        <locationX>3336</locationX>
        <locationY>2413</locationY>
        <connector>
            <targetReference>Decision_To_Edit_More_Claim_Agency</targetReference>
        </connector>
        <inputReference>StoreClaimAgency</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Claimants</name>
        <label>Update Claimants</label>
        <locationX>912</locationX>
        <locationY>2660</locationY>
        <connector>
            <targetReference>Decision_To_Edit_More_Claimants</targetReference>
        </connector>
        <inputReference>var_StoreClaimant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Record</name>
        <label>Update Payment Record</label>
        <locationX>1881</locationX>
        <locationY>2536</locationY>
        <connector>
            <targetReference>Decision_To_Edit_More_Payment</targetReference>
        </connector>
        <inputReference>storePayment</inputReference>
    </recordUpdates>
    <screens>
        <name>Claim_Agency_Edit_End_Screen</name>
        <label>Claim Agency Edit End Screen</label>
        <locationX>3349</locationX>
        <locationY>2881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Edit_Claim_Agency_End</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(17, 131, 53);&quot;&gt;Edited all records Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claim_Agency_Edit_Screen</name>
        <label>Claim Agency Edit Screen</label>
        <locationX>3112</locationX>
        <locationY>1882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Claim_Agency_Screen</targetReference>
        </connector>
        <fields>
            <name>Claim_Agency_Record</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Claim_Agency__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claim_Agency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claim_Agency__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Claim_Agency&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-102d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Claim Agency Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claim_Agency__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_Claim_Agency&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StoreClaimAgency</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Want_to_Edit_More_Claim_Agency</name>
            <dataType>Boolean</dataType>
            <fieldText>Want to Edit More Claim Agency</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claim_Agency_Screen</name>
        <label>Claim Agency Screen</label>
        <locationX>3053</locationX>
        <locationY>1060</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CrudClaimAgency</targetReference>
        </connector>
        <fields>
            <name>Select_an_Option_ClaimAgency</name>
            <choiceReferences>EditClaimAgecyChoice</choiceReferences>
            <choiceReferences>CreateClaimAgencyChoice</choiceReferences>
            <choiceReferences>DeleteClaimAgencyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claim_Record</name>
        <label>Claim Record</label>
        <locationX>971</locationX>
        <locationY>887</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Claims</targetReference>
        </connector>
        <fields>
            <name>Select_Record_Edit_Claim</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Claim__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claim_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claim__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Claim_Record&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3e3b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Claim Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claim__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_Claim_Record&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>claimSelectedRecords</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant_End_Screen</name>
        <label>Claimant End Screen</label>
        <locationX>554</locationX>
        <locationY>2478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndClaimants</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 124, 63);&quot;&gt;Created Related Claimants&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant_Screen</name>
        <label>Claimant Screen</label>
        <locationX>998</locationX>
        <locationY>1471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CrudClaimants</targetReference>
        </connector>
        <fields>
            <name>Select_an_OptiontoProceed</name>
            <choiceReferences>EditClaimantChoice</choiceReferences>
            <choiceReferences>CreateClaimantChoice</choiceReferences>
            <choiceReferences>DeleteClaimantChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimants_Record</name>
        <label>Claimants Record</label>
        <locationX>780</locationX>
        <locationY>2250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Claimant_Screen</targetReference>
        </connector>
        <fields>
            <name>ClaimantsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Claimant__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claimants Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claimant</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claimant__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Claimant&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Claim__c&quot;,&quot;guid&quot;:&quot;column-16fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Claim&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fcc8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Claimant Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Claimant_Type__c&quot;,&quot;guid&quot;:&quot;column-d9b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Claimant Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Claimed_Amount__c&quot;,&quot;guid&quot;:&quot;column-26c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Claimed Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claimant__c&quot;,&quot;fieldReferences&quot;:[&quot;Claim__c&quot;,&quot;Name&quot;,&quot;Claimant_Type__c&quot;,&quot;Claimed_Amount__c&quot;],&quot;elementReference&quot;:&quot;Get_Claimant&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>var_RecordsToUpdate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_StoreClaimant</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimScreen</name>
        <label>Claim Screen</label>
        <locationX>818</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claim_Decision</targetReference>
        </connector>
        <fields>
            <name>Claim</name>
            <fieldText>&lt;p&gt;Claim&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_an_option_to_proceed</name>
            <choiceReferences>CreateClaim</choiceReferences>
            <choiceReferences>EditClaim</choiceReferences>
            <choiceReferences>ClaimAgencyRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an option to proceed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Claim_Agency</name>
        <label>Create Claim Agency</label>
        <locationX>2719</locationX>
        <locationY>1725</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Claim_Agency_Record</targetReference>
        </connector>
        <fields>
            <name>Agency_Contact_Person</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agency_Contact_Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claim_Agency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agency Contact Person</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agency_Type</name>
            <choiceReferences>AgencyTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agency Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claim_Agency_Name</name>
            <dataType>String</dataType>
            <fieldText>Claim Agency Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_More_Claim_Agnecy</name>
            <dataType>Boolean</dataType>
            <fieldText>Create More Claim Agnecy</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Claim_Screen_End_Screen</name>
        <label>Create Claim Screen End Screen</label>
        <locationX>317</locationX>
        <locationY>1533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Create_Claim_End</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 128, 14);&quot;&gt;Created Claim Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_ClaimAgnecy_End_Screen</name>
        <label>Create ClaimAgnecy End Screen</label>
        <locationX>2852</locationX>
        <locationY>2273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayEndCreateClaimAgnecyScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(14, 134, 42);&quot;&gt;Create Claim Agency Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Claimant</name>
        <label>Create Claimant</label>
        <locationX>425</locationX>
        <locationY>2070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_ClaimantRecord</targetReference>
        </connector>
        <fields>
            <name>SelectClaim</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claimant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>claimSelectedRecords.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claimant_Name</name>
            <dataType>String</dataType>
            <fieldText>Claimant Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claimant_Type</name>
            <choiceReferences>ClaimantType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claimant Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claimed_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Claimed Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claimant__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Relationship</name>
            <choiceReferences>RelationshipChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Want_More_Claimants</name>
            <dataType>Boolean</dataType>
            <fieldText>Want More Claimants</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>1456</locationX>
        <locationY>1746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <fields>
            <name>CreateClaimforPayment</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>claimSelectedRecords.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <choiceReferences>PaymentMethodPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Status</name>
            <choiceReferences>PaymentStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_More_Payment</name>
            <dataType>Boolean</dataType>
            <fieldText>Create More Payment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Payment_End_Screen</name>
        <label>Create Payment End Screen</label>
        <locationX>1517</locationX>
        <locationY>2268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatePaymentEndDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(16, 118, 33);&quot;&gt;Created Payment Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateClaimScreen</name>
        <label>Create Claim Screen</label>
        <locationX>202</locationX>
        <locationY>1023</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Claim_Record</targetReference>
        </connector>
        <fields>
            <name>claim_Type</name>
            <choiceReferences>ClaimTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>claim Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Policy_Holder</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Policy_Holder__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Policy Holder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claim_Agency</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim_Agency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Claim Agency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claim_Date</name>
            <dataType>Date</dataType>
            <fieldText>Claim Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Claimed_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Total Claimed Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approved_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Approved_Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Claim_Status</name>
            <choiceReferences>ClaimStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claim Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Want_to_add_more_claim</name>
            <dataType>Boolean</dataType>
            <fieldText>Want to add more claims</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Claim_Agency_End_Screen</name>
        <label>Delete Claim Agency End Screen</label>
        <locationX>3558</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_End_Claim_Agency_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(10, 102, 31);&quot;&gt;Deleted Payment Record Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_claimants_Delete_End_Screen</name>
        <label>Display_claimants_Delete_End_Screen</label>
        <locationX>1190</locationX>
        <locationY>2717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_claimants_Delete_End</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 137, 46);&quot;&gt;Deleted Claimants Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Delete_Payments_Suncreen</name>
        <label>Display Delete Payments Sunscreen</label>
        <locationX>2129</locationX>
        <locationY>2508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Delete_Payments</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(15, 131, 46);&quot;&gt;Deleted Payments Record Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Claim_End_Screen</name>
        <label>Edit Claim End Screen</label>
        <locationX>557</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Edit_Claim_End_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(6, 118, 17);&quot;&gt;Edited all Claim Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Claimant_End_Screen</name>
        <label>Edit Claimant End Screen</label>
        <locationX>934</locationX>
        <locationY>3026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EditCliamantEnd</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(15, 137, 66);&quot;&gt;Edited All Claimants.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Claims</name>
        <label>Edit Claims</label>
        <locationX>976</locationX>
        <locationY>1047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectObject</targetReference>
        </connector>
        <fields>
            <name>Select_an_Option</name>
            <choiceReferences>EditClaimRecord</choiceReferences>
            <choiceReferences>Claimantrecord</choiceReferences>
            <choiceReferences>PaymentRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Payment_End_Screen</name>
        <label>Edit Payment End Screen</label>
        <locationX>1884</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Edit_Payment_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(11, 118, 36);&quot;&gt;Edited all Payment Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen_to_Delete</name>
        <label>Payment Screen to Delete</label>
        <locationX>2119</locationX>
        <locationY>2122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Payment_Record</targetReference>
        </connector>
        <fields>
            <name>Payment_Record_to_Delete</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Payment_Record_to_Delete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Payment__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Payment_Record_to_Delete&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ecb9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payment Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Payment__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_Payment_Record_to_Delete&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StorePaymentsCollection</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen_to_Edit</name>
        <label>Payment Screen to Edit</label>
        <locationX>1743</locationX>
        <locationY>2064</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Payment_Screen</targetReference>
        </connector>
        <fields>
            <name>Payment_Record_To_Edit</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Payment_Record_to_Edit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Payment__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Payment_Record_to_Edit&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6024&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payment Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Payment__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_Payment_Record_to_Edit&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>storePayment</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Want_To_Edit_More_Payment</name>
            <dataType>Boolean</dataType>
            <fieldText>Want To Edit More Payment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PaymentScreen</name>
        <label>Payment Screen</label>
        <locationX>1734</locationX>
        <locationY>1476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CrudPayment</targetReference>
        </connector>
        <fields>
            <name>Select_an_Option_Payment</name>
            <choiceReferences>EditPaymentChoice</choiceReferences>
            <choiceReferences>CreatePaymentChoice</choiceReferences>
            <choiceReferences>DeletePaymentChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_delete_record</name>
        <label>Screen for delete record</label>
        <locationX>1188</locationX>
        <locationY>2367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Claimants</targetReference>
        </connector>
        <fields>
            <name>Claimants_to_delete</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Claimant__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claimant_Record_to_Delete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claimant__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Claimant_Record_to_Delete&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Claimant Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-bc66&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Record ID&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claimant__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;,&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Claimant_Record_to_Delete&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_to_Delete_Claimant</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_To_delete_Claim_Agency</name>
        <label>Screen To delete Claim Agency</label>
        <locationX>3549</locationX>
        <locationY>2052</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Claim_Agency_Record</targetReference>
        </connector>
        <fields>
            <name>Claim_Agency_Record_To_Delete</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Claim_Agency__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claim_Agency_to_Delete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claim_Agency__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Claim_Agency_to_Delete&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0041&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Claim Agency Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Claim_Agency__c&quot;,&quot;fieldReferences&quot;:[&quot;Name&quot;],&quot;elementReference&quot;:&quot;Get_Claim_Agency_to_Delete&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StoreClaimAgnecyToDelete</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Claim_Agency_Screen</name>
        <label>Update Claim Agency Screen</label>
        <locationX>3311</locationX>
        <locationY>2025</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Var_Claim_Agency</targetReference>
        </connector>
        <fields>
            <name>UpdateAgency_Contact_Person</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agency_Contact_Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Agency Contact Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claim_Agency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>StoreClaimAgency.Agency_Contact_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Agency_Type</name>
            <choiceReferences>AgencyTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>StoreClaimAgency.Agency_Type__c</elementReference>
            </defaultValue>
            <fieldText>Update Agency Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claim_Agency_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>StoreClaimAgency.Name</elementReference>
            </defaultValue>
            <fieldText>Update Claim Agency Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdateEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>StoreClaimAgency.Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdatePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>StoreClaimAgency.Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Claim_Screen</name>
        <label>Update Claim Screen</label>
        <locationX>761</locationX>
        <locationY>1240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Claim_Variable</targetReference>
        </connector>
        <fields>
            <name>Update_Approved_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>claimSelectedRecords.Approved_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Update Approved Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdateClaim_Agency</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim_Agency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Claim Agency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claim_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>claimSelectedRecords.Claim_Date__c</elementReference>
            </defaultValue>
            <fieldText>Update Claim Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claim_Status</name>
            <choiceReferences>ClaimStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>claimSelectedRecords.Claim_Status__c</elementReference>
            </defaultValue>
            <fieldText>Update Claim Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claim_Type</name>
            <choiceReferences>ClaimTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>claimSelectedRecords.Claim_Type__c</elementReference>
            </defaultValue>
            <fieldText>Update Claim Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Policy_Holder</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Policy_Holder__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Policy Holder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>claimSelectedRecords.Policy_Holder__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Total_Claimed_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>claimSelectedRecords.Total_Claimed_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Update_Total_Claimed_Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Want_to_Edit_More_Claim</name>
            <dataType>Boolean</dataType>
            <fieldText>Want to Edit More Claim</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Claimant_Screen</name>
        <label>Update Claimant Screen</label>
        <locationX>918</locationX>
        <locationY>2387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Claimants</targetReference>
        </connector>
        <fields>
            <name>UpdateClaim</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claimant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_StoreClaimant.Claim__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claimant_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_StoreClaimant.Name</elementReference>
            </defaultValue>
            <fieldText>Update Claimant Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claimed_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>var_StoreClaimant.Claimed_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Update Claimed Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>updateContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Claimant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_StoreClaimant.Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Claimant_Type</name>
            <choiceReferences>ClaimantType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_StoreClaimant.Claimant_Type__c</elementReference>
            </defaultValue>
            <fieldText>Update Claimant Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Relationship</name>
            <choiceReferences>RelationshipChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_StoreClaimant.Relationship__c</elementReference>
            </defaultValue>
            <fieldText>Update Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Want_To_edit_More_Claimants</name>
            <dataType>Boolean</dataType>
            <fieldText>Want to edit more claimants</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Payment_Screen</name>
        <label>Update Payment Screen</label>
        <locationX>1877</locationX>
        <locationY>2240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Var_Payment</targetReference>
        </connector>
        <fields>
            <name>Edit_Claim</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Claim__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Edit Claim</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>storePayment.Claim__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Edit_Payment_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>storePayment.Payment_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Edit Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Edit_Payment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>storePayment.Payment_Date__c</elementReference>
            </defaultValue>
            <fieldText>Edit Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Edit_Payment_Method</name>
            <choiceReferences>PaymentMethodPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>storePayment.Payment_Method__c</elementReference>
            </defaultValue>
            <fieldText>Edit Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Edit_Payment_Status</name>
            <choiceReferences>PaymentStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>storePayment.Payment_Status__c</elementReference>
            </defaultValue>
            <fieldText>Edit_Payment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>705</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ClaimScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>claimSelectedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim__c</objectType>
    </variables>
    <variables>
        <name>StoreClaimAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Agency__c</objectType>
    </variables>
    <variables>
        <name>StoreClaimAgnecyToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Agency__c</objectType>
    </variables>
    <variables>
        <name>storePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>StorePaymentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>var_ClaimCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim__c</objectType>
    </variables>
    <variables>
        <name>var_RecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claimant__c</objectType>
    </variables>
    <variables>
        <name>var_RecordToDeleteClaimant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claimant__c</objectType>
    </variables>
    <variables>
        <name>var_RecToDeleteClaimant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claimant__c</objectType>
    </variables>
    <variables>
        <name>var_StoreClaimant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claimant__c</objectType>
    </variables>
    <variables>
        <name>Var_to_Delete_Claimant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Claimant__c</objectType>
    </variables>
</Flow>
