force-app/main/default/flows/Platform_Event_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_to_select_Object</name>
        <label>Decision to select Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Records</targetReference>
            </connector>
            <label>is Claim</label>
        </rules>
        <rules>
            <name>is_Claimants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claimant__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claimants</targetReference>
            </connector>
            <label>is Claimants</label>
        </rules>
        <rules>
            <name>Is_Paymants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Records</targetReference>
            </connector>
            <label>Is Paymants</label>
        </rules>
        <rules>
            <name>Is_Claim_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim_Agency__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Agency_Record</targetReference>
            </connector>
            <label>Is Claim Agency</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pla {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform Event–Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Claim</name>
        <label>Delete Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Claim_Records</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Claim_Agency</name>
        <label>Delete Claim Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Claim_Agency_Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Claimants</name>
        <label>Delete Claimants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Claimants</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delte</name>
        <label>Delete Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Payment_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Claim_Agency_Record</name>
        <label>Get Claim Agency Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Claim_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReplayId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim_Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Records</name>
        <label>Get Claim Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claimants</name>
        <label>Get Claimants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Claimants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claimant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Records</name>
        <label>Get Payment Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_to_select_Object</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Claim_Delete_Request__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
